/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;600;700&display=swap'); */

@font-face {
  font-family: "Prompt";
  src: local("Prompt"), url(./fonts/Prompt-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
